.section-details{
    width: 100%;
    margin-top: 50px;
}

.details-container{
    width: 100%;
    display: flex;
    margin: 20px 0px;

}

.details-img-container{
    width: 600px;
    height: 500px;
    margin-right: 50px;
    border-radius: 10px ;
  
}

.details-image{
    object-fit: cover;
    object-position: center;
    width: inherit;
    height: inherit;
    position:relative;
    border-radius: 10px ;
}

.details-description-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
}

.addToCart-button{
    background-color: var(--primaryColor);
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.finish-purchase{
    background-color: var(--contrastColor2);
    color: var(--contrastColor1);
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 0px 0px 20px 15px;
    

}

.continue-purchase{
    background-color: var(--primaryColor);
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
}

.contenedorcito{
    display: flex;
    flex-direction: column;
}


.buttons-container{
    display: flex;
}

.continue-link, .finish-link{
    text-decoration: none !important;
    width: 100%;
}