@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Chau Philomene One', sans-serif;;
}

:root{
  --primaryColor: #68dbd0;
  --secondaryColor: #72E1D7;
  --tertiaryColor: #B6FFF8;
  --quaternaryColor: #64BBB2;
  --contrastColor1: #fff;
  --contrastColor2: #000;
}